.container {
    width: 80%;
    margin: auto;
}

#titolo-principale {
    position: relative;
    color: white;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    height: 180px;
}

#logo{
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 20px;
    left: 10px;
}

#primo-titolo {
    font-size: 50px;
}

#scritto-da {
    color: grey;
    font-size:20px;
    position: relative;
    top: -40px;
}

.tim-img {
    width: 49%;
}

.descrizione-foto {
    font-size: 13px;
}

.background-yellow {
    background-color: yellow;
}

.parte-centrale {
    font-size: 18px;
}

.thead-blu {
    background-color: #20A9E5;
}

.tr-azzurro {
    background-color: #B1E5F2;
}